@charset "UTF-8";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 16px;
}

body {
  background-color: #f2f4f4;
  font-family: "Roboto", sans-serif;
}

a,
a:hover,
a:visited {
  color: #18b976;
}

a {
  cursor: pointer;
}

a:hover {
  opacity: 0.6;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.sidebar {
  width: 19rem;
  background-color: #fff;
  display: flex;
}

.menu {
  width: 3.75rem;
  background-color: #000;
}

.menu .logo {
  height: 3.75rem;
  background-color: #18b976;
}

.menu .logo img {
  width: 2.5rem;
  height: 2.5rem;
  display: block;
  padding: 0.625rem;
}

.reports {
  padding: 0.9rem;
  border-right: 1px solid #e5e5e5;
  color: #333;
  font-size: 0.9rem;
}

.main,
.reports {
  flex-grow: 1;
}

.main {
  padding: 2rem;
}

.reports_title {
  margin-bottom: 1.5rem;
  display: block;
}

.reports_list {
  margin-bottom: 1.5rem;
}

.reports_list li {
  padding: 0.75rem 0rem;
  transition: background 0.3s ease-in;
  position: relative;
}

.reports_list li:hover {
  background-color: #f4f7f7;
}

.reports_input {
  display: block;
}

.reports_input {
  border: 1px solid #e5e5e5;
}

.reports_input.hidden {
  display: none;
}

.report_context {
  float: right;
  color: #333;
  padding: 0 0.5rem;
}

.report_context::after {
  content: "\2807";
  font-size: 1rem;
}

.report_context_menu {
  position: absolute;
  background: #fff;
  right: 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  z-index: 100;
}

.report_context_menu.hidden {
  display: none;
}

.report_context_menu a {
  color: #333;
  min-width: 5rem;
  padding: 0.5rem 1rem;
  display: block;
}

